@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 800px;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    margin: 2rem;
    border-radius: 0.75rem;
    background-color: #fbfbfb;
}

#calculator-display {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 25px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: thin;
    border-radius: 0.25rem;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 2rem;
    background-color: #efede3;
    overflow: scroll;
}

.calculator-sub-display {
    width: 350px;
    height: 100px;
    padding: 1.5rem;
}

#calculator-upper-display {
    text-align: start;
}

#calculator-main-display {
    text-align: end;
}

#calculator-buttons {
    display: flex; 
    flex-flow: row wrap;
    width: 350px;
    height: 600px;
    gap: 1rem;
    justify-content: center;
    align-content: space-evenly;
}

#calculator-buttons button {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5rem;
    text-align: center;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 0.5rem;
}

.number-button {
    background-color: #babde2;
    color: #374375;
}

.number-button:hover {
    background-color: #374375;
    color: #babde2;
    cursor: pointer;
}

.operator-button {
    background-color: #dfaea1;
    color: #fffcf5;
}

.operator-button:hover {
    background-color: #895159;
    color: #fffcf5;
    cursor: pointer;
}

.display-button:hover {
    cursor: pointer;
    background-color: darkgray;
}

.active-operator {
    background-color: #895159;
    color: #fffcf5;
}